<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="section">
        <h2>Services: <button mat-button="filled" title="Add Service" (click)="addService()">+</button></h2>
        <mat-list role="list">
          @for (serviceInfo of services(); track serviceInfo.name) {
          <mat-list-item [class]="serviceInfo.name === selectedService()?.name ? 'selected' : ''">
            <mat-slide-toggle #check [checked]="serviceInfo.active"
              (toggleChange)="onToggleService(serviceInfo.name, check.checked)"
              [disabled]="serviceInfo.name==='console-api'"></mat-slide-toggle>
            <span (click)="onServiceSelected(serviceInfo.name)">
              {{serviceInfo.port}} {{serviceInfo.name}}
            </span>
          </mat-list-item>
          }
        </mat-list>
      </div>
      <div class="section">
        <h2>Traffics:</h2>
        <mat-tree #tree [dataSource]="trafficGroups()" [childrenAccessor]="childrenAccessor">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <span (click)="onTrafficSelected(node)"
              [class]="node.id === selectedTraffic()?.id ? 'selected' : ''">
                {{node.title || getTrafficLabel(node)}}
            </span>
          </mat-tree-node>
          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.title">
              <mat-icon class="mat-icon-rtl-mirror">
                {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <span (click)="onTrafficSelected(node)">{{node.title}}</span>
          </mat-tree-node>
        </mat-tree>
        <button mat-button="filled" (click)="refresh()">Refresh</button>
      </div>
    </div>
    <div class="right-side">
      @if (detailView() === 'traffic') {
      <app-traffic-detail [traffic]="selectedTraffic()"></app-traffic-detail>
      } @else if(detailView() === 'service') {
      <app-service-detail [service]="selectedService()" [newServiceHost]="newServiceHost()"
        (serviceAdded)="onServiceAdded($event)"
        (serviceDeleted)="onServiceDeleted($event)"/>
      } @else if(detailView() === 'unmapped-group') {
        <app-unmapped-group [group]="selectedGroup()"
          (addService)="onAddService()"></app-unmapped-group>
      }
    </div>
  </div>
</main>
